body{
  background-color: var(--black-color);
  text-align:center;
  color: white;
  display:flex;
  justify-content:center;
  align-items: center;
  height: 100vh;
  /* background-color #313337; */
}
/* vh se refiere a una medida respecto a la pantalla :uuuuuuuu*/
.content_paypal a{
/* height: 100vh; */
color:#7acc3d;
}
